services:
  postgres:
    image: postgres:16-alpine
    container_name: reading-control-db
    environment:
      POSTGRES_DB: reading-control
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  pgdata:
